{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 120,
    "trailingComma": "es5",
    "bracketSameLine": false,
    "singleAttributePerLine": true,
    "endOfLine": "crlf",
    "quoteProps": "as-needed",
    "plugins": ["prettier-plugin-tailwindcss"]
}